.navbar {
    
    height: 80px;
    color:white
} 

.bg-light {
    color: #055568;
}

.header, .container {
    width: 100vw;
}

.header_section {
    text-decoration: none;
    color: white;
}

.selected {
    color:#D05663;
    font-weight: bold;
}

.logo {
    padding-left: 100px;

}

.header_titulo {
    text-decoration: none;
    color: #fff;
}


.info {
    color: #fff;
    background-color: #055568;
    padding: 60px;
}

.btn-light {
    color: black;
    background: #D05663;
    border-radius: 10px;
    border: none;
}

.errores {
    height: 90px;
    background-color: #055568;
    color: white;
    text-align: center;
}

.form-control {
    background-color: #C3CBD6;
    border: 2px solid #D05663;
    border-radius: 10px;
}

